{% extends 'base.html.twig' %}
{% block body %}
    <div class="vw-100 vh-100 row align-items-center bg-light">
        <div class="col-6 bg-secondary text-light mx-auto border border-info rounded text-center p-6">
            <h2 class="m-2">Добавление нового пользователя</h2>
            {{ form(form) }}
        </div>
    </div>
{% endblock %}