{% extends 'base.html.twig' %}
{% block body %}
    <div class="vw-100 vh-100 row align-items-center bg-light">
        <div class="col-8 p-3 bg-secondary text-light mx-auto border border-info rounded text-center">
            <h1>{{ title }}</h1>
            <a href="{{ path('report') }}" class="btn btn-primary btn-lg" role="button">Отчеты</a>
            <a href="{{ path('app_login') }}" class="btn btn-primary btn-lg" role="button">Авторизация</a>
        </div>
    </div>

{% endblock %}