{% extends 'base.html.twig' %}
{% block body %}
    <div class="vw-100 vh-100 row align-items-center bg-light">
        <div class="col-8 p-3 bg-secondary text-light mx-auto border border-info rounded text-center">
            <div class="row">
                <form id="parameters" method="post">
                        <button type="submit">Отправить</button>
                        <select name="month" id="month">
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                            <option value="6">6</option>
                            <option value="7">7</option>
                            <option value="8">8</option>
                            <option value="9">9</option>
                            <option value="10">10</option>
                            <option value="11">11</option>
                            <option value="12">12</option>
                        </select>
                        <label for="month">Выбор месяца</label>
                        <input type="number" id="year" name="year" min="1996" max="2022">
                        <label for="year">Выбор года</label>
                        <select name="clientType" id="clientType">
                            <option value="1">Физ. лицо</option>
                            <option value="2">Юр. лицо</option>
                         </select>
                        <input type="checkbox" id="type" name="type">
                        <label for="type">Учет типа</label>
                </form>
            </div>
            <table class="table text-light">
                <thead>
                <tr>
                    <th scope="col">Услуга</th>
                    <th scope="col">Баланс на начало периода</th>
                    <th scope="col">Приход</th>
                    <th scope="col">Расход</th>
                    <th scope="col">Перерасчет</th>
                    <th scope="col">Итого</th>
                </tr>
                </thead>
                    <tbody class="report">
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
<script type="text/javascript">
    $(document).ready(function() {
        $('#parameters').submit(function(e) {
            e.preventDefault();
            $.ajax({
                type: "POST",
                url: '{{ path('getReport') }}',
                data: $(this).serialize(),
                success: function(data){
                    $(".report").html(data); // при успешном получении ответа от сервера, заносим полученные данные в элемент с классом answer
                },
                error: function(data){
                    console.log(data); // выводим ошибку в консоль
                }
            });
        });
    });
</script>


{% endblock %}