{% for report in arr %}
<tr>
    <td>{{ report.Name }}</td>
    <td>{{ report.balance }}</td>
    <td>{{ report.income }}</td>
    <td>{{ report.outcome }}</td>
    <td>{{ report.recalculation }}</td>
    <td>{{ report.total }}</td>
</tr>
    {% else %}
    Что-то не так
{% endfor %}
